{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<title>IEEE-IST SB</title>
		<link rel="icon" href="{% static 'public/assets/icons/icon.ico' %}" type="image/x-icon"></link>
		<link rel="stylesheet" type="text/css" href="{% static 'public/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'public/css/nprogress.css'%}">
		<link rel="stylesheet" type="text/css" href="{% static 'public/mdbootstrap/css/mdb.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'public/@fortawesome/fontawesome-free/css/all.css' %}">
		<link rel="stylesheet" href="{% static 'public/css/bundle.css'%}">
	</head>
	<body>
		{% block content %}
		{% endblock %}
	</body>
	<script src="{% static 'public/js/bundle.js' + ?v=1.0 %}"></script>
	<script src="{% static 'public/js/jquery.min.js' %}"></script>
	<script src="{% static 'public/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'public/mdbootstrap/js/mdb.min.js' %}">
</html>
